# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: web/investment-app-ui/package-lock.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Install UI Dependencies
      run: npm ci
      working-directory: ./web/investment-app-ui
    - name: Build
      run: dotnet build --no-restore
    - name: Build UI
      run: npm run build --if-present
      working-directory: ./web/investment-app-ui
    - name: Test
      run: dotnet test --no-build --verbosity normal --logger "trx;LogFileName=test-results.trx"
    - name: Test UI
      run: npm test --if-present
      working-directory: ./web/investment-app-ui
    - name: Report Test Results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Test Results
        path: "**/test-results.trx"
        reporter: dotnet-trx
